@import url('./global.css');

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.nav-header ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-header ul li a{
    color: var(--color-secondary-dark);
    text-decoration: none;
    font-family: var(--font-body);
    font-size:16px;
}

.btn-header{
    background-color: var(--color-primary);
    border-radius: 15px 3px 15px 3px;
    color: var(--color-secondary-white);
    padding: 12px 30px;
    font-family: var(--font-title);
    font-size: var(--font-button-size);
    text-decoration: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    gap: 80px;
}

.content-main{
   display: flex;
    flex-direction: column;
   gap: 20px;
}

h1{
    font-size: var(--font-headline-h1-size);
    font-family: var(--font-title);
    width: 562px;
}

.highlighted-word{
    color: var(--color-primary);
}

.content-main p{
    font-size: var(--font-body-size);
    font-family: var(--font-body);
    color: var(--color-secondary-1-gray);
    width: 544px;
    line-height: 30px;
}

.container-btn-main{
    display: flex;
    gap: 20px;
}

.section-differences{
    background-color: var(--color-primary-orange-10);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 60px 0px;
}

.differences-cards-container{
    display: flex;
    gap: 70px;
}

.differences-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding:20px 20px;
    border: 1px solid var(--color-secondary-1-gray);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}


.differences-card h3{
    font-family: var(--font-tittle);
    font-size: var(--font-headline-h3-size);
    width: 181px;
}

.differences-card p{
  width: 227px;
  font-family: var(--font-body);
  color: var(--color-secondary-1-gray);
  line-height: 30px;
}

.section-chef {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    padding: 60px;
}
 
.section-chef-content{
    flex-direction: column;
    display: flex;
    gap: 25px;
    width: 503px;
}
 
.section-chef-content h2 {
    width: 433px;
    line-height: 60px;
}
 .section-chef-content p{
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    color: var(--color-secundary-gray);
    line-height: 30px;
}

.section-featured-dishes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: var(--color-primary-orange-10);
    padding: 60px 0px;
}

.container-cards-dishes{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 101px;
}

.card-dishes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 300px;
    background-color: var(--color-secondary-white);
    border: 1px solid var(#d3d3d3);
    border-radius: 20px 5px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
    padding: 123px 15px 45px 15px;
    position: relative;
}

.card-dishes img{
    position: absolute;
    top: -101px;
}

.card-dishes h3{
    font-size: var(--font-headline-h3-size);
    font-family: var(--font-tittle);
    width: 174px;
    margin: 0 auto;
}
.card-dishes p{
    font-family: var(--font-body);
    line-height: 30px;
    color: var(--color-secondary-1-gray);
    width: 271px;
    margin: 0 auto;
}

.section-our-environments{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding: 60px;
}

.container-environments{
    display: flex;
    gap: 20px;
}

.container-environments-left{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.container-environments-left div{
    display:flex;
    gap: 29px;
}